/*allgemein*/
body {
    background: rgb(71, 64, 64);
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: rgb(181, 160, 160);
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

h2 {
    color: rgb(161, 140, 140);
    font-family: 'Grape Nuts';
    font-family: 'IBM Plex Sans Arabic', serif;
}

.kopfzeile {
    position: relative;
    left: -3%;
    background-color: rgb(71, 64, 64);
    width: 90%;
    padding: 5px;
    margin: 10px;
}


p {
    color: whitesmoke;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;

}

.p-position {
    position: relative;
    background-color: rgb(71, 64, 64);
    width: 90%;
    padding: 5px;
    margin: 0px;
}


form label {
    color: whitesmoke;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;
}

input {
    background: white;
    /* rgb(71, 64, 64);*/
    color: black;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;
    font-size: 12pt;
}

/*Startseite*/
.responsive-img {
    width: 100%;


}

#text-position {
    width: 50%;
    height: auto;
    position: left;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    color: rgb(201, 180, 180);
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

#kat:visited {
    color: pink;
}

#kat {
    color: whitesmoke;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;
    font-style: italic;
}

/* Suche nach Produkt */
* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}








/*Unterkategorien-Seiten*/



.unterseite-kategorie {
    color: rgb(181, 160, 160);
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-align: center;
}

#aBisZ {
    margin: 5%;
    font-weight: bold;
    color: rgb(181, 160, 160);
    align-content: flex-start;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;

}

/* trial */
.wrapper {
    padding: 5px;
    max-width: 960px;
    width: 90%;
    margin: 20px auto;
    display: inline;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: #6AAB95;
    transition: 0.3s;
}




/* old */
.flex-in-grid {
    display: flexbox;
    border-bottom: 5px;
}

.grid-container {
    /* background-color:#ffdbdb; */
    padding: 20px;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30%;
    justify-content: center;
    grid-gap: 20px 20px;

}



/* hiding der Checkboxen auf obst.html */
#title2 {
    display: none;
}


div.column.content {
    display: inline-block;
}




.wrapper section label {
    display: inline-block;
    padding: 5% 10%;
    /* padding: 30px 22px; */
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
    align-self: center;
    text-align: center;

}

label:hover {
    background: #4E8774;
}

.quantity-display {
    background-color: #4E8774;
    text-align: start;
    transform: none;
    cursor: default;

}

.content {
    /* background: #A7A7A7; */
    text-align:left;
    padding: 10px 25px;
    /* border: 1px solid #A7A7A7; */
    margin: 0 0 1px 0;
    border-radius: 3px;

}

.content p {
    background: #4E8774;
    padding: 10px 25px;;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input+label+.content {
    display: none;

}

input:checked+label+.content {
    display: block;

}





ul li a {
    color: whitesmoke;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;
}






/*Nebenseiten*/
.backToMain {
    color: black;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: fit-content;
    background-color: rgb(161, 140, 140);
    padding: 10px;
    transition: background-color 0s, padding 0s ease;
}

.backToMain:hover {
    background: radial-gradient(rgb(140, 120, 120), rgb(255, 214, 221));
    padding: 15px;
}

/* Meine Listen */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contentNewList {
    
}




/*Einzelne Rezepte*/
ol li {
    color: whitesmoke;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;

}

.rezeptBild {
    position: relative;
    left: 5%;
}

#bestätigen:hover {
    color: black;
    font-weight: bold;
    background: rgb(161, 140, 140);
}

.rezept-div {
    background-color: rgb(71, 64, 64);
    width: 90%;
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 10px;

    color: whitesmoke;
    font-family: 'Grape Nuts', cursive;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Karla', sans-serif;
}


/* Buttons */
.button-kategorien {
    position: relative;
    width: 90%;
    text-align: left;
    background-color: rgb(71, 64, 64);
    border: 2px ridge whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    line-height: 25px;

}

/*Akkordeon-Button*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /*line-height vllt hinzufügen*/
    background-color: #eee;
    color: #444;
    cursor: pointer;
    display: inline-block;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgb(161, 140, 140);
    font-size: 14px;
    width: auto;
    display: none;
    overflow: hidden;
}

.button-74 {
    background-color: #fbe4e0;
    border: 2px solid #383232;
    border-radius: 20px;
    box-shadow: #383332 4px 4px 0 0;
    color: #383232;
    cursor: pointer;
    display: inline-block;
    font-weight: 550;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #ffdbdb;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}



